.DS_*
*.log
.idea
logs
bower_components
node_modules
dist
npm-debug.log
yarn-error.log
video
dist_electron
/app/*.sh
/internal
bg.jpg
*.local
.htaccess
.htaccess*
tmp
app/public/faces
.rsync-ignore
pnpm-lock.yaml
package-lock.json
